In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [3]:
list_data = [1, 2, 3, 4, 5]
example_obj = Series(data = list_data)
example_obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
list_data = [1, 2, 3, 4, 5]
list_name = ['a', 'b', 'c', 'd', 'e']
example_obj = Series(data = list_data, index=list_name)
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
example_obj.values

array([1, 2, 3, 4, 5])

In [8]:
type(example_obj.values)

numpy.ndarray

In [9]:
dict_data = {"a": 1, "b": 2, "c": 3, "d": 4, "e": 5}
example_obj = Series(dict_data, dtype=np.float32, name="example_data")
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [10]:
example_obj['a']

1.0

In [11]:
example_obj['a'] = 3.2
example_obj

a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float64

In [12]:
example_obj[example_obj > 2]

a    3.2
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float64

In [13]:
example_obj * 2

a     6.4
b     4.0
c     6.0
d     8.0
e    10.0
Name: example_data, dtype: float64

In [14]:
np.exp(example_obj)

a     24.532530
b      7.389056
c     20.085537
d     54.598150
e    148.413159
Name: example_data, dtype: float64

In [15]:
'b' in example_obj

True

In [17]:
example_obj.to_dict()

{'a': 3.2, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [18]:
example_obj.values

array([3.2, 2. , 3. , 4. , 5. ])

In [19]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [20]:
example_obj.name = 'number'
example_obj.index.name = 'alphabet'
example_obj

alphabet
a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: number, dtype: float64

In [21]:
dict_data_1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
indexes = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
series_obj_1 = Series(dict_data_1, index=indexes)
series_obj_1

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
dtype: float64